Source: pardus-power-manager
Section: utils
Priority: optional
Maintainer: Ali Rıza KESKİN <ali.riza.keskin@pardus.org.tr>
Build-Depends: meson, ninja-build
Breaks: tlp, power-profiles-daemon
Standards-Version: 4.3.0
Homepage: https://pardus.org.tr

Package: pardus-power-manager
Architecture: all
Depends: ${misc:Depends},
         libc6,
         python3 (>=3.5),
         python3-gi,
         gir1.2-notify-0.7,
         gir1.2-ayatanaappindicator3-0.1,
         gir1.2-gtk-3.0,
Description: Pardus power manager.
 Pardus power manager.
