[Desktop Entry]
Name=Pardus Power Manager
Name[pt]=Gestor de Energia Pardus
Name[tr]=Pardus Güç Yöneticisi
Comment=Power management tools for pardus
Comment[pt]=Ferramenta de gestão de energia para o Pardus
Comment[tr]=Pardus için güç yönetim aracı
Exec=pardus-power-manager
Icon=pardus-power-manager
Terminal=False
Type=Application
Categories=Application;System;X-Pardus-Apps;
StartupWMClass=pardus-power-manager