<policyconfig>
<vendor>Pardus Developers</vendor>
<vendor_url>https://www.pardus.org.tr</vendor_url>
<action id="tr.org.pardus.pkexec.pardus-power-manager">
<description>Pardus Power Manager</description>
<message>Authentication is required for power manager</message>
<message xml:lang="tr">Güç yöneticisi için yetkilendirme gerekiyor</message>
<icon_name>preferences-system</icon_name>
<defaults>
<allow_any>auth_admin</allow_any>
<allow_inactive>auth_admin</allow_inactive>
<allow_active>auth_admin</allow_active>
</defaults>
<annotate key="org.freedesktop.policykit.exec.path">/usr/share/pardus/power-manager/settings/main.py</annotate>
<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
</action>
</policyconfig>
