[Desktop Entry]
Name=Pardus Power Manager
Name[pt]=Gestor de Energia Pardus
Name[tr]=Pardus Güç Yöneticisi
Comment=Pardus Power Manager
Comment[pt]=Gestor de Energia Pardus
Comment[tr]=Pardus Güç Yöneticisi
Exec=pardus-power-manager
Icon=pardus-power-manager
Terminal=false
Type=Application
Categories=GTK;Utility;X-Pardus-Apps;
StartupNotify=true
Keywords=ppd;ppm;
